html{
	background-color:lightblue;
}

body{
	background-color:#b0c4de;
	text-align:left;
	font-family:"Comic Sans MS",Times,serif;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	padding:50px 50px 50px 50px;
	border:5px solid rgb(170,170,170);
}

p.avertissement{
	color:red;
	font-family:"Times New Roman",Times,serif;
}