h1{
	padding:1px 0px 0px 50px;
}

html{
	background-color:lightblue;
}

body{
	background-color:#b0c4de;
	text-align:left;
	font-family:"Comic Sans MS",Times,serif;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	padding:50px 50px 50px 50px;
	border:5px solid rgb(170,170,170);
}

table.liste{
	border-collapse:collapse;
	border:1px solid black;
}

th.liste{
	text-align:center;
}

td.liste, th.liste{
	padding:1px 3px 1px 3px; /*padding : haut droite bas gauche*/
	border:1px solid black;
}

p.avertissement{
	color:orange;
	font-family:"Times New Roman",Times,serif;
}

p.explications{
	font-size:80%;
}

form.logout{
	padding:1px 0px 0px 400px;
}

/* pour la page gérer :*/
h2.intituleDeLaSeance{
	padding:1px 0px 0px 300px;
}

button.suppr{
	color:red;
}

td.suppr{
	color:red;
	cursor:pointer;
	cursor:hand;
	background-color:white;
	border:1px solid black;
}

.log{
	color:red;
	font-family:"Times New Roman",Times,serif;
}
/* Sur resultatEnCours */
img.reponses{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Sur resultatFin */
div.resultats{
	position:relative;
	left:-30px;
}
img.resultats{
	display:inline;
}

/* pour la page résultatEnCours :*/
table.reponses{
	border-collapse:collapse;
	background-color:white;
	min-width: 200px;
	position: left;
	width:600px;
	padding:10px;
}
td.reponses,td.img,table.reponses{
	border: 1px solid black;
}
td.reponses{
	padding: 1px 5px 1px 5px;
}
td.img{
	max-width:500px;
}
td.reponsesNombre{
	border: 1px solid black;
	padding: 1px 5px 1px 5px;
	width:25px;
	text-align:right;
}
td.reponsesPourcent{
	border: 1px solid black;
	padding: 1px 5px 1px 5px;
	width:45px;
	text-align:right;
}

img{
	text-align:center;
    display:block;
	max-width:500px;
}

/* Progress Bar */
.barre{
	min-width: 200px;
	width:400px;
}