@(question: Question)
@main("ASCMII - Edition d'une question"){

<!DOCTYPE html>

<html>
 <head>
  <title>ASCMII</title>
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/gerer.css")">
 </head>
	<h1>ASCMII</h1>
	<form action="@routes.Application.logOut()" method="POST" class="logout">
		<button type="submit">Se déconnecter</button>
	</form>
	<form action="/prof/gerer/editquestion2/@question.id" method="POST">
		<p>Titre de la question : <input type="text" name="titre" value="@question.titre"></p>
		<p>Entrez la question : </p>
		<p><input type="text" name="texte" size="100px" value="@question.texte"></p>
		@if(question.typeQ.id<=2){
			<p>Réponses :</p>
			<table>
			@for(reponse <- question.reponses){
			<tr id="reponse@reponse.position">
				<td class="suppr"><a id="suppr@reponse.position" onClick="removeReponse(@reponse.position)">X</a></td>
				<td id="numero@reponse.position"> @reponse.position.</td>
				<td><input type="text" id="texte@reponse.position" name="reponse@reponse.position" value="@reponse.texte"></td>
			</tr>
			}
			</table>
		}
		<div style="display:inline;padding:0px 0px 0px 200px"><button type="submit">Terminer</button></div>
	</form>
	@if(question.typeQ.id<=2){
		<button onClick="addReponse()" style="position:relative; top:-30px;">Ajouter une autre réponse</button>
	}
	<form action="/prof/gerer/@question.serie.seance.id" method="POST"><button type="submit">Retour</button></form>
	
</html>
<script src="@routes.Assets.at("/javascripts/jquery-1.10.2.min.js")"></script>
<script>
	var nombreDeReponses = @question.reponses.length;
	
	function addReponse(){
		var reponseNumero='reponse'+(nombreDeReponses+1);
		var chaine1 = '<tr id="'+reponseNumero+'"><td class="suppr"><a id="suppr'+(nombreDeReponses+1)+'" onClick="removeReponse('+(nombreDeReponses+1)+')">X</a></td>';
		var chaine2 = '<td id="numero'+(nombreDeReponses+1)+'"> '+(nombreDeReponses+1)+'.</td>';
		var chaine3 = '<td><input type="text" id="texte'+(nombreDeReponses+1)+'" name="'+reponseNumero+'" value=""></td></tr>';
		$('#reponse'+nombreDeReponses).after(chaine1+chaine2+chaine3);
		nombreDeReponses++;
	}
	function removeReponse(pos){
		if(nombreDeReponses<=2){
			alert('Vous devez au moins laisser deux réponses !');
		}else{
			$('#reponse'+pos).remove();
			pos++;
			while(pos<=nombreDeReponses){ //On doit changer tous les attributs dans les questions qui suivent celle qu'on supprime
				/*
				$('#reponse'+pos).attr('id','reponse'+(pos-1));
				$('#suppr'+pos).attr('onClick','removeReponse('+(pos-1)+')');
				$('#suppr'+pos).attr('id','#suppr'+(pos-1));
				$('#texte'+pos).attr('name','reponse'+(pos-1));
				$('#texte'+pos).attr('id','texte'+(pos-1));
				$('#numero'+pos).replaceWith('<td id="numero'+(pos-1)+'"> '+(pos-1)+'.</td>');
				*/
				$('#reponse'+pos).attr('id','reponse'+(pos-1));
				$('#suppr'+pos).replaceWith('<a id="suppr'+(pos-1)+'" onClick="removeReponse('+(pos-1)+')">X</a>');
				$('#numero'+pos).replaceWith('<td id="numero'+(pos-1)+'"> '+(pos-1)+'.</td>');
				var value = $('#texte'+pos).val();
				$('#texte'+pos).replaceWith('<input type="text" id="texte'+(pos-1)+'" name="reponse'+(pos-1)+'" value="'+value+'">');
				
				pos++;
			}
			nombreDeReponses--;
		}
	}

</script>
}
