@(question: Question)
@main("ASCMII - Edition d'une question"){

<!DOCTYPE html>

<html>
 <head>
  <title>ASCMII</title>
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/gerer.css")">
 </head>
	<h1>ASCMII</h1>
	<form action="@routes.Application.logOut()" method="POST" class="logout">
		<button type="submit">Se déconnecter</button>
	</form>
	<form action="/prof/gerer/editquestion/@question.id" method="POST">
		<p>Titre de la question : <input type="text" name="titre" value="@question.titre"></p>
		<p>Entrez la question : </p>
		<p><input type="text" name="texte" size="100px" value="@question.texte"></p>
		@if(question.typeQ.id<=2){
			<p>Réponses :</p>
			@for(reponse <- question.reponses){
				<p id="reponse@reponse.position"> @reponse.position. <input type="text" name="reponse@reponse.position" value="@reponse.texte"></p>
			}
		}
		<div style="display:inline;padding:0px 0px 0px 200px"><button type="submit">Terminer</button></div>
	</form>
	@if(question.typeQ.id<=2){
		<button onClick="addReponse()" style="position:relative; top:-30px;">Ajouter une autre réponse</button>
	}
	<form action="/prof/gerer/@question.serie.seance.id" method="POST"><button type="submit">Retour</button></form>
	
</html>
<script src="@routes.Assets.at("/javascripts/jquery-1.10.2.min.js")"></script>
<script>
	var nombreDeReponses = @question.reponses.length;
	
	function addReponse(){
		var reponseNumero='reponse'+(nombreDeReponses+1);
		$('#reponse'+nombreDeReponses).after('<p id="'+reponseNumero+'"> '+(nombreDeReponses+1)+'. <input type="text" name="'+reponseNumero+'"></p>');
		nombreDeReponses++;
	}
	function removeReponse(){
	}

</script>
}
