@(lien: Lien,message: String)
@main("ASCMII - Réponse"){
<html>
 <head>
  <title>ASCMII</title>
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/seancesListe.css")">
 </head>
 <body onLoad="testFin()">
 <h1>ASCMII</h1>
 <h2>@message</h2>
 @if(lien.serie.questions.length<=1){
	<p>Vous qui avez l'adresse mail suivante : @lien.eleve.mail, vous devez répondre à la question suivante :</p>
 }else{
	<p>Vous qui avez l'adresse mail suivante : @lien.eleve.mail, vous devez répondre aux questions suivantes :</p>
 }
 <form action="/eleve/reponse/@lien.chemin" method="POST">
 @for(question <- lien.serie.questions){
	<p>@question.texte</p>
	@if(question.typeQ.id==1){
		@for(reponse <- question.reponses){
			<input type="radio" name="choixReponse@question.id" value="@reponse.position"> @reponse.texte<br>
		}
	}
	@if(question.typeQ.id==2){
		@for(reponse <- question.reponses){
			<input id="question@question.id" type="checkbox" name="choixReponse@question.id.@reponse.position" value="@reponse.position"> @reponse.texte<br>
		}
	}
	@if(question.typeQ.id==3){
		<input type="text" name="texteRepondu@question.id" size="60px"><br>
	}
	@if(question.typeQ.id==4){
		<input type="text" name="nombreRepondu@question.id" size="20px"><br>
	}
 }
 <p>NB : Une fois que vous aurez cliqué sur "OK", votre choix sera final</p>
 <button type="submit">OK</button><!-- Envoyer le chemin du lien pour connaître l'id des questions auxquelles l'élève repond. -->
</form>
@if(lien.serie.date_fermeture!=null){
<script>
	var tempsFin = @lien.serie.date_fermeture.getTime();
	function termine(){
		var now = new Date().getTime();
		if(now>tempsFin){
			location.reload(true);
		}
	}
}else{
<script src="@routes.Assets.at("/javascripts/jquery-1.10.2.min.js")"></script>
<script>
	var tempsFin = "0";
	function termine(){
		//$('#date').load('/eleve/infoheure/@lien.serie.id');
		$.ajax({
            type : 'POST',
            url : '@routes.Application.infoHeure(lien.serie.id)',
            success: function(data, textStatus, jqXHR) {
				tempsFin = data;
			},
			error: function(jqXHR, textStatus, errorThrown) {
				//window.alert(textStatus);
			}
        });
		if(tempsFin.localeCompare("0")!=0){
			location.reload(true);
		}
	}
}
	function testFin(){
		setInterval("termine();",500);
	}
</script>
}
</body>
</html>