@(seance: Seance, listSerie: List[Serie])
@main("ASCMII - Liste des questions"){

<!DOCTYPE html>

<script>
function addSerie(){
	if(document.getElementById("new_serie").style.display == "none"){
		document.getElementById("new_serie").style.display = "block";
	} else {
		document.getElementById("new_serie").style.display = "none";
	}
}


</script>

<html>
 <head>
  <title>ASCMII</title>
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/gerer.css")">
 </head>
	<h1>ASCMII</h1>
	<form action="@routes.Application.logOut()" method="POST" class="logout">
		<button type="submit">Se déconnecter</button>
	</form>
	<h2 class="intituleDeLaSeance">@seance.intitule</h2>
	<h2>Liste des questions pour la séance de @seance.matiere le @seance.date.format("dd/MM/yyyy à H") h</h2>
	
	@if(listSerie.isEmpty()){
	<p> Aucune série de question n'est pour l'instant définie. Cliquez sur le bouton ci-dessous pour en créer une.</p>
	}else{
		<table>
		@for(serie <- listSerie){
			<tr>
				<td>
					<form action="/prof/gerer/del/@serie.id" method="POST" style="display:inline">
						<button type="submit" class="suppr">X</button>
					</form>
				</td>
				<td>@serie.nom</td>
				<td>
					@if(listSerie.length!=1){
						<form action="/prof/gerer/down/@serie.id" method="POST" style="display:inline">
							<button type="submit">Descendre</button>
						</form>
						<form action="/prof/gerer/up/@serie.id" method="POST" style="display:inline">
							<button type="submit">Monter</button>
						</form>
					}
					<form action="/prof/gerer/addquestion/@serie.id" method="POST" style="display:inline">
						<button type="submit">Ajouter une question à la série</button>
					</form>
					<button type="submit">Exporter</button>
				</td>
			</tr>
				@for(question <- serie.questions){
					<tr>
						<td></td>
						<td><form action="/prof/gerer/delquestion/@question.id" method="POST" style="display:inline">
								<button type="submit" class="suppr">X</button></form> @question.titre
						</td>
						<td>
							<form action="/prof/gerer/editquestion/@question.id" method="POST" style="display:inline">
								<button type="submit">Editer</button>
							</form>
							@if(serie.questions.length!=1){
							<form action="/prof/gerer/downquestion/@question.id" method="POST" style="display:inline">
								<button type="submit">Descendre</button>
							</form>
							<form action="/prof/gerer/upquestion/@question.id" method="POST" style="display:inline">
								<button type="submit">Monter</button>
							</form>
							}
						</td>
					</tr>
					<tr>
						<td></td>
						<td style="padding:0px 0px 0px 40px">@question.typeQ.typeQ</td>
						<td></td>
					</tr>
					@for(reponse <- question.reponses){
						<tr>
							<td></td>
							<td style="padding:0px 0px 0px 40px">@reponse.texte</td>
							<td></td>
						</tr>
					}
				}
		}
		</table>
	}
	<p>
		<form action="/prof/seances" method="GET" style="display:inline"><button type="submit">Retour</button></form>
		<div style="padding:0px 0px 0px 250px;display:inline">
		@if(seance.series.get(0).liens.length==0){
			<button onClick="addSerie()">Ajouter une nouvelle série de question</button>
		}else{
			Vous avez déjà envoyé le mail, vous ne pouvez donc plus ajouter des séries de question.
		}
		</div>
	</p>
	
	<div id="new_serie" style="display:none">
		<h2>Création d'une nouvelle séance :</h2>
		<p>Entrez le nom de la nouvelle série :</p>
		<form action="@routes.Application.addSerie(seance.id)" method="POST">
		<input type="text" name="nom" size="40">
		<button type="submit">Valider</button>
		</form>
	</div>
</html>
}
