@(authenticate: String)
<html>
 <head>
  <title>ASCMII - Authentification</title>
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
  <link rel="icon"  type="image/png" href="@routes.Assets.at("images/favicon.png")" />
 </head>
 <body>
 	<h1>ASCMII</h1>
 	@if(authenticate=="F"){
 		<p class="avertissement">Mauvaise combinaison d'identifiant et mot de passe.</p>
 	}
 	<form action="/prof/login" method="POST">
 		<h2>Identification</h2>
 		<p>
 			<input type="login" name="login" placeholder="Identifiant">
 		</p>
 		<p>
 			<input type="password" name="passw" placeholder="Mot de passe">
 		</p>
 		<p>
 			<button type="submit">OK</button>
 		</p>
 	</form>
 	<p>Vous devez activez les cookies pour pouvoir utiliser ce site.</p>
 </body>
</html>