@(id: Long,typeQ: TypeQuestion)
@main("ASCMII - Création d'une nouvelle question - Etape 2/2"){

<!DOCTYPE html>

<script>

</script>

<html>
 <head>
  <title>ASCMII</title>
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/gerer.css")">
 </head>
	<h1>ASCMII</h1>
	<form action="@routes.Application.logOut()" method="POST" class="logout">
		<button type="submit">Se déconnecter</button>
	</form>
	@typeQ.typeQ
	@typeQ.id
	<form>
	<h2>Quel type de question voulez-vous créer ?</h2>
	<form action="/prof/gerer/@id" method="POST" style="display:inline"><button type="submit">Retour</button></form>
	<div style="display:inline;padding:0px 0px 0px 200px"><button type="submit">Terminer</button></div>
	</form>
</html>
}
