@(resultat: Resultat)
@main("Liste exhaustive"){
<html>
 <head>
  <title>ASCMII</title>
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/gerer.css")">
 </head>
<body>
	<p>@resultat.question.texte</p>
	<table class="reponses">
			@for(i <- 0 to (resultat.listRepond.length-1)){
				<tr>
					<td class="reponses">@resultat.listRepond.get(i).texte</td><td class="reponsesNombre">@resultat.reponsesChoisies.get(i)</td>
				</tr>
			}
	</table>
	<form action="/prof/downloads/@resultat.question.id" method="POST">
	<button type="submit">Exporter</button>
	</form>
</body>
</html>
}