@(resultats : List[Resultat], serie : Serie, nombreDeReponses : Int, nombreDeReponsesMAX : Int)
@main("ASCMII - La série est en cours..."){
<html>
 <head>
  <title>ASCMII</title>
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/gerer.css")">
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery.countdown.css")">
 </head>
 <body onLoad="rafraichir(5000)">
	<h1>ASCMII</h1>
	<form action="@routes.Application.logOut()" method="POST" class="logout">
		<button type="submit">Se déconnecter</button>
	</form>
	<p>La série @serie.nom a été lancée.<br>Les étudiants peuvent dès lors voter.</p>
	<br>
	<p>@{nombreDeReponses*100/nombreDeReponsesMAX} % des gens ont répondu (@nombreDeReponses/@nombreDeReponsesMAX personnes)</p>
	@for(resultat <- resultats){
		<p>@resultat.question.texte</p>
		@if(resultat.question.typeQ.id==1 || resultat.question.typeQ.id==2){
			@for(reponse <- resultat.question.reponses){
				<p>@reponse.position. @reponse.texte @resultat.reponsesChoisies.get(reponse.position-1)</p>
			}
		}
		@if(resultat.question.typeQ.id==3 || resultat.question.typeQ.id==4){
			<table>
			@for(i <- 0 to (resultat.listRepond.length-1)){
				<tr>
					<td>@resultat.listRepond.get(i).texte</td><td>@resultat.reponsesChoisies.get(i)</td>
				</tr>
			}
			</table>
		}
	}
	@if(serie.date_fermeture==null){
		<form action="/prof/fin/@serie.id" method="POST">
			<button type="submit">Mettre fin à la série</button>
		</form>
	}else{
		<p>La série se termine à @serie.date_fermeture.format("hh:mm:ss"). Il est @Calendar.getInstance.getTime().format("hh:mm:ss").</p>
		<div id="countdown"></div>
	}
<script src="@routes.Assets.at("/javascripts/jquery-1.10.2.min.js")"></script>
<script src="@routes.Assets.at("/javascripts/jquery.countdown.min.js")"></script>
<script src="@routes.Assets.at("/javascripts/jquery.countdown-fr.js")"></script>
<script>
function rafraichir(duree){
	$('#countdown').countdown({until: new Date(@serie.date_fermeture.getTime()), format: 'MS'});
	setTimeout("location.reload(true);",duree);
}
</script>
}
 </body>
</html>