@(listSeance: List[Seance], log: String)
@main("ASCMII - Les séances programmées"){

<!DOCTYPE html>

<script>
function addSeance(){
	if(document.getElementById("new_seance").style.display == "none"){
		document.getElementById("new_seance").style.display = "block";
	} else {
		document.getElementById("new_seance").style.display = "none";
	}
}

</script>

<html>
 <head>
  <title>ASCMII</title>
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/seancesListe.css")">
 </head>
	<h1>ASCMII</h1>
	<h2>Liste des séances</h2>
	<p class="avertissement">@log</p>
	
	@if(listSeance.isEmpty()){
	<p> Aucune séance n'est pour l'instant définie. Cliquez sur le bouton ci-dessous pour en créer une.</p>
	}else{
	<table class="liste">
		<tbody>
			<tr>
				<th class="liste">Date</th>
				<th class="liste">Matiere</th>
				<th class="liste">Intitulé</th>
				<th class="liste">Action</th>
			</tr>
		@for(seance <- listSeance){
			<tr>
				<td class="liste">@seance.date.format("dd/MM/yyyy à H") h</td>
				<td class="liste">@seance.matiere</td>
				<td class="liste">@seance.intitule</td>
				<td class="liste">
						<button type="submit">Gérer</button>
						<form action="@routes.Application.displayEditSeance(seance.id)" method="POST" style="display:inline">
							<button type="submit">Editer</button>
						</form>
						<button type="submit">Vote et résultat</button>
						<button type="submit">Dupliquer</button>
						<form action="@routes.Application.removeSeance(seance.id)" method="POST" style="display:inline">
							<button type="submit">Supprimer</button>
						</form>
				</td>
			</tr>
		}
		</tbody>
	</table>
	}
	
	<p class="explications">L'intitulé que vous choisissez n'est visible que par vous, les élèves ne le véront pas.</p>
	
	<p>
		<button onClick="addSeance()">Ajouter une nouvelle séance</button>
	</p>
	<form action="/prof/seances" method="POST">
	<div id="new_seance" style="display:none">
		<h2>Création d'une nouvelle séance :</h2>
		<table>
			<tbody>
			<tr>
				<td>Matière :</td>
				<td><input type="text" size="20" name="matiere" value=""></td>
			</tr>
			<tr>
				<td>Intitulé de séance :</td>
				<td><input type="text" size="20" name="intitule" value=""></td>
			</tr>
			<tr>
				<table>
			<tr>
				<td>Date et heure :</td>
				<td><select name="day">
					<option value="01">1</option>
					<option value="02">2</option>
					<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</td>
				<td><select name="month">
						<option value="01">Janvier</option>
						<option value="02">Février</option>
						<option value="03">Mars</option>
						<option value="04">Avril</option>
						<option value="05">Mai</option>
						<option value="06">Juin</option>
						<option value="07">Juillet</option>
						<option value="08">Août</option>
						<option value="09">Septembre</option>
						<option value="10">Octobre</option>
						<option value="11">Novembre</option>
						<option value="12">Décembre</option>
				</td>
				<td><select name="year">
						<option value="2013">2013</option>
						<option value="2014">2014</option>
						<option value="2015">2015</option>
						<option value="2016">2016</option>
						<option value="2017">2017</option>
						<option value="2018">2018</option>
						<option value="2019">2019</option>
				</td>
				<td>à</td>
				<td><select name="hour">
						<option value="08">8h</option>
						<option value="09">9h</option>
						<option value="10">10h</option>
						<option value="11">11h</option>
						<option value="12">12h</option>
						<option value="13">13h</option>
						<option value="14">14h</option>
						<option value="15">15h</option>
						<option value="16">16h</option>
						<option value="17">17h</option>
						<option value="18">18h</option>
				</td>
			</tr>
			</table>
			</tr>
			</tbody>
		</table>
		<br>
		<button type="submit">Valider</button>
	</div>
	</form>
</html>
}
