@(listSeance: List[Seance], log: String)
@main("ASCMII - Les séances programmées"){

<!DOCTYPE html>

<script>
function addSeance(){
	if(document.getElementById("new_seance").style.display == "none"){
		document.getElementById("new_seance").style.display = "block";
	} else {
		document.getElementById("new_seance").style.display = "none";
	}
}

</script>

<html>
 <head>
  <title>ASCMII</title>
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/seancesListe.css")">
 </head>
	<h1>ASCMII</h1>
	<form action="@routes.Application.logOut()" method="POST" class="logout">
		<button type="submit">Se déconnecter</button>
	</form>
	<h2>Liste des séances</h2>
	<p class="avertissement">@log</p>
	
	@if(listSeance.isEmpty()){
	<p> Aucune séance n'est pour l'instant définie. Cliquez sur le bouton ci-dessous pour en créer une.</p>
	}else{
	<table class="liste">
		<tbody>
			<tr>
				<th class="liste">Date</th>
				<th class="liste">Matiere</th>
				<th class="liste">Intitulé</th>
				<th class="liste">Action</th>
			</tr>
		@for(seance <- listSeance){
			<tr>
				<td class="listeDate">@seance.date.format("dd/MM/yyyy à H") h</td>
				<td class="liste">@seance.matiere</td>
				<td class="liste">@seance.intitule</td>
				<td class="liste">
						<form action="@routes.Application.displayEditSeance(seance.id)" method="POST" style="display:inline">
							<button type="submit">Editer</button>
						</form>
						<form action="@routes.Application.gererSeance(seance.id)" method="POST" style="display:inline">
							<button type="submit">Gérer</button>
						</form>
						@if(!seance.series.isEmpty()){
						<form action="@routes.Application.voteSeance(seance.id)" method="POST" style="display:inline">						
							<button type="submit">Vote et résultat</button>
						</form>
						}else{<button type="submit" disabled>Vote et résultat</button>}
						<form action="@routes.Application.dupliquerSeance(seance.id)" method="POST" style="display:inline">
							<button type="submit">Dupliquer</button>
						</form>
						<form action="@routes.Application.removeSeance(seance.id)" method="POST" style="display:inline" id="f@seance.id"></form>
						<button onClick="supprimer(@seance.id)">Supprimer</button>
				</td>
			</tr>
		}
		</tbody>
	</table>
	}
	
	<p class="explications">L'intitulé que vous choisissez n'est visible que par vous, les élèves ne le verront pas.</p>
	
	<p>
		<button onClick="addSeance()">Ajouter une nouvelle séance</button>
	</p>
	<form action="/prof/seances" method="POST">
	<div id="new_seance" style="display:none">
		<h2>Création d'une nouvelle séance :</h2>
		<table>
			<tbody>
			<tr>
				<td>Matière :</td>
				<td><input type="text" size="20" name="matiere" value=""></td>
			</tr>
			<tr>
				<td>Intitulé de séance :</td>
				<td><input type="text" size="20" name="intitule" value=""></td>
			</tr>
			<tr>
				<table>
			<tr>
				<td>Date et heure :</td>
				<td><select name="day">
				@for(i: Int <- 1 to 31){
					<option value="@i" @if(i==Integer.parseInt(Calendar.getInstance().getTime().format("d"))){ selected="selected"}>@i</option>
				}
				</td>
				<td><select name="month">
				@for(i: Int <- 1 to 12){
					<option value="@i" @if(i==Integer.parseInt(Calendar.getInstance().getTime().format("M"))){ selected="selected"}>
					@{i match {
						case 1 => "Janvier"
						case 2 => "Février"
						case 3 => "Mars"
						case 4 => "Avril"
						case 5 => "Mai"
						case 6 => "Juin"
						case 7 => "Juillet"
						case 8 => "Août"
						case 9 => "Septembre"
						case 10 => "Octobre"
						case 11 => "Novembre"
						case 12 => "Décembre"
					}}
					</option>
				}
				</td>
				<td><select name="year">
					@for(i: Int <- 2013 to 2019){
						<option value="@i" @if(i==Integer.parseInt(Calendar.getInstance().getTime().format("yyyy"))){ selected="selected"}>@i</option>
					}
				</td>
				<td>à</td>
				<td><select name="hour">
						<option value="08">8h</option>
						<option value="09">9h</option>
						<option value="10">10h</option>
						<option value="11">11h</option>
						<option value="12">12h</option>
						<option value="13">13h</option>
						<option value="14">14h</option>
						<option value="15">15h</option>
						<option value="16">16h</option>
						<option value="17">17h</option>
						<option value="18">18h</option>
				</td>
			</tr>
			</table>
			</tr>
			</tbody>
		</table>
		<br>
		<button type="submit">Valider</button>
	</div>
	</form>
<script src="@routes.Assets.at("/javascripts/jquery-1.10.2.min.js")"></script>
<script>
function supprimer(seance_id){
	if(confirm("Attention ! Si vous supprimer cette séance, toutes les questions à l'intérieur ainsi que leurs résultats seront supprimés ! Confirmez-vous votre décision ?")){
		$('#f'+seance_id).submit();
	}
}
</script>
</html>
}
