<!--
<style>
#ASCMII{font-family:Courier New;background-color:#b0c4de;color:green;}
#hippo{font-family:Courier New;background-color:#b0c4de;color:green;font-size:50%;}
</style>
<table style="padding:1px 0px 0px 50px;">
<tr><td>
<div id="ASCMII">
&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;_____&nbsp;_____<br>&nbsp;&nbsp;/_\&nbsp;&nbsp;/&nbsp;_\&nbsp;/&nbsp;__\/|\&nbsp;&nbsp;/||&nbsp;&nbsp;\_&nbsp;&nbsp;&nbsp;\\_&nbsp;&nbsp;&nbsp;\<br>&nbsp;//_\\&nbsp;\&nbsp;\&nbsp;/&nbsp;/&nbsp;&nbsp;&nbsp;||\\//||&nbsp;&nbsp;&nbsp;/&nbsp;/\/&nbsp;/&nbsp;/\/<br>/&nbsp;&nbsp;_&nbsp;&nbsp;\_\&nbsp;|&nbsp;/___&nbsp;|||\/|||/\/&nbsp;/_/\/&nbsp;/_<br>\_/&nbsp;\_/\__|____/&nbsp;|||&nbsp;&nbsp;|||\____/\____/
</div>
</td>
<td>
<div id="hippo">
&nbsp;&nbsp;&nbsp;&nbsp;O<br>&nbsp;&nbsp;&nbsp;O<br>&nbsp;&nbsp;&nbsp;&nbsp;o&nbsp;&nbsp;\``/<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/o&nbsp;`))<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/_/\_ss))<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|_ss))/|<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|__ss))_|<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|__sss))_|<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|___ss))\|<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|_ss))<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)_s))<br>&nbsp;&nbsp;&nbsp;&nbsp;(`(&nbsp;&nbsp;/_s))<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(_\/_s))<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(\/))
</div>
</td></tr>
</table>
-->
<div style="padding:1px 0px 0px 50px;"><img src="/assets/images/logo.png"></img></div>