@(seance: Seance, listSerie: List[Serie])
@main("ASCMII - Démarrer les séries"){

<!DOCTYPE html>

<html>
 <head>
  <title>ASCMII</title>
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/gerer.css")">
 </head>
	<h1>ASCMII</h1>
	<form action="@routes.Application.logOut()" method="POST" class="logout">
		<button type="submit">Se déconnecter</button>
	</form>
	<h2 class="intituleDeLaSeance">@seance.intitule</h2>
	<h2>Liste des questions pour la séance de @seance.matiere le @seance.date.format("dd/MM/yyyy à H") h</h2>
	
		<table>
		@for(serie <- listSerie){
			<tr>
				<td></td>
				<td>@serie.nom</td>
				<td>
					@if(serie.date_ouverte==null){
						@if(serie.liens.isEmpty()){
						<button type="submit" disabled>Lancer la série</button>
						}else{
						<form action="/prof/lancer/@serie.id" method="POST" style="display:inline">
							<button type="submit">Lancer la série</button>
						</form>
						}
					}else{
						<button type="submit">Résultats</button>
						<button type="submit">Reset</button>
					}
				</td>
			</tr>
				@for(question <- serie.questions){
					<tr>
						<td></td>
						<td style="padding:0px 0px 0px 40px">@question.titre</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td style="padding:0px 0px 0px 60px">@question.typeQ.typeQ</td>
						<td></td>
					</tr>
					@for(reponse <- question.reponses){
						<tr>
							<td></td>
							<td style="padding:0px 0px 0px 60px">@reponse.texte</td>
							<td></td>
						</tr>
					}
				}
			<tr id="div@serie.id"></tr>
	}
	</table>
	<form action="/prof/vote/send/@seance.id" method="POST">
		<button type="submit">Envoyer le mail</button>
	</form>
	<form action="/prof/seances" method="GET"><button type="submit">Retour</button></form>
</html>
}
